@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3f2fd;
}

h1 {
  background-color: #5372f0;
  color: #fff;
  font-size: 1.75rem;
  padding: 18px 0;
  text-align: center;
}

.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}

.weather-input {
  width: 550px;
}

.weather-input input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.07rem;
  margin: 10px 0 20px 0;
  outline: none;
  padding: 0 15px;
  width: 100%;
  height: 46px;
}

.weather-input button {
  background-color: #5372f0;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.weather-input .location-btn {
  background-color: #6c757d;
}

.weather-input .separator {
  align-items: center;
  background-color: #bbb;
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 1px;
  width: 100%;
}

.weather-input .separator::before {
  background-color: #e3f2fd;
  content: "or";
  color: #6c757d;
  font-size: 1.18rem;
  margin-top: -4px;
  padding: 0 15px;
}

.weather-data {
  width: 100%;
}

.current-weather {
  background-color: #5372f0;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px 20px 20px;
}

.current-weather h2 {
  font-size: 1.7rem;
}

.current-weather h4 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}

.current-weather .icon h4 {
  margin-top: -10px;
  text-transform: capitalize;
}
